.container {
  box-sizing: border-box;
  margin: 10px auto;
  padding: 0 0 0 39px;
  max-width: 1360px;
}
body {
  background: #fffbf7;
  font-family: "Nunito", sans-serif;
}
.global {
  background-color: #fff;
  position: relative;
  left: -110px;
  width: 1500px;
  height: 1400px;
  top: -60px;
}
.common_btn {
  background: linear-gradient(180deg, #f39c32 0%, #cb8734 100%);
  box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
  border-radius: 4px;

  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 25px;
  transition: 0.4s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}
.mt-50 {
  margin-top: 50px;
}
.margin_left_40 {
  margin-left: 40px;
}
.mr-9 {
  margin-right: 9px;
}
