.footer{
    &_left{
        display: flex;
        width: 750px;

        &_row{
            padding-right: 20px;
            padding-left: 40px;

            &_item{
            font-family: 'Nunito', sans-serif;
                list-style: none;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                color: #2B2A28;
                line-height: 30px;
                cursor: pointer;
            }
        }
    }
    &_right{
        margin-right: 53px;
        &_top{
            display: flex;
            &_text{
                font-family: 'Nunito', sans-serif;
                font-weight: 600;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 0.08em;
                color: #2B2A28;
                width: 255px;
                line-height: 20px;
            }
        }
    }
    &_bottom_line{
        background-color: #E7D8C7;
        height: 1px;
        width: 100%;
    }
    &_bottom_text{
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 22px;
        text-align: center;
        color: #2B2A28;
        opacity: 0.7;
        margin-bottom: 20px;
    }
}
.narrow_row{
    padding-left: 0;
    width: 195px;
}
.footer_section{
    display: flex;
}
.logo_footer{
    margin: 25px 0;
    margin-right: 33px;
}
